<!DOCTYPE html>
<html ng-app="brands" ng-controller="appCtrl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
    <title>Brands</title>
    <link rel="stylesheet" href="mobile-angular-ui/dist/css/mobile-angular-ui-base.min.css" />
    <link rel="stylesheet" href="static/css/reset.css" />
    <link rel="stylesheet" href="static/css/common.css" />
    <link rel="stylesheet" href="static/css/toastr.min.css"/>
    <script src="static/js/lib/jquery-1.9.1.min.js"></script>
    <script src="static/js/lib/jquery.validate.js"></script>
    <script src="static/js/lib/angular.min.js"></script>
    <script src="static/js/lib/angular-route.min.js"></script>
    <script src="static/js/lib/angular-cookies.js"></script>
    <script src="static/js/lib/angular-resource.min.js"></script>
    <script src="static/js/lib/jquery.maskedinput.js"></script>
    <script src="static/js/lib/toastr.min.js"></script>
    <script src="mobile-angular-ui/dist/js/mobile-angular-ui.min.js"></script>

    <!-- App -->
    <script src="static/js/app/app.js"></script>
    <script src="static/js/app/constants.js"></script>
    <script src="static/js/app/config.js"></script>
    <script src="static/js/app/services.js"></script>
    <script src="static/js/app/directives.js"></script>
    <script src="static/js/app/appCtrl.js"></script>

    <!-- Auth -->
    <script src="static/js/app/auth/auth.js"></script>
    <script src="static/js/app/auth/services.js"></script>
    <script src="static/js/app/auth/controllers.js"></script>

    <!-- Categories -->
    <script src="static/js/app/categories/categories.js"></script>
    <script src="static/js/app/categories/controllers.js"></script>
    <script src="static/js/app/categories/filters.js"></script>

    <!-- Products -->
    <script src="static/js/app/products/products.js"></script>
    <script src="static/js/app/products/controllers.js"></script>
    <script src="static/js/app/products/directives.js"></script>

    <!-- Settings -->
    <script src="static/js/app/settings/settings.js"></script>
    <script src="static/js/app/settings/controllers.js"></script>
    <script src="static/js/app/settings/directives.js"></script>

</head>
<body>
<!-- Sidebars -->

<div class="sidebar sidebar-right" toggleable parent-active-class="sidebar-right-in" id="mainSidebar">
    <h1 class="app-name">brands.by</h1>

    <div class="scrollable">
        <div class="scrollable-content">
            <div class="list-group" toggle="off" bubble target="mainSidebar">
                <a ng-if="shop.subscriptionType.internalId == 'dealer'" class="list-group-item" href="#/categories">Каталог <i class="fa fa-chevron-right pull-right"></i></a>
                <a class="list-group-item" href="#/settings">Настройки профиля <i class="fa fa-chevron-right pull-right"></i></a>
                <a class="list-group-item" href="" ng-click="auth.logout()">Выйти <i class="fa fa-chevron-right pull-right"></i></a>
                <!-- ... -->
            </div>

        </div>
    </div>
</div>

<div class="app">

    <!-- Navbars -->
    <div class="navbar navbar-app navbar-absolute-top">

        <div class="navbar-brand navbar-brand-center" yield-to="title">
            <span></span>
        </div>

        <div class="btn-group pull-left" yield-to="navbarAction">

        </div>

        <div class="btn-group pull-right">
            <div ng-click="toggle('mainSidebar')" class="btn btn-navbar sidebar-toggle">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </div>

    <!--<div class="navbar navbar-app navbar-absolute-bottom">-->
        <!--<div class="btn-group justified">-->
            <!--<a href="" ng-click="goBack()" class="btn btn-navbar btn-icon-only"><i class="fa fa-chevron-left fa-navbar"></i></a>-->
            <!--<a href="#/categories" class="btn btn-navbar btn-icon-only"><i class="fa fa-home fa-navbar"></i></a>-->
        <!--</div>-->
    <!--</div>-->

    <div class="app-body">
        <div ng-show="loading" class="app-content-loading">
            <i class="fa fa-spinner fa-spin loading-spinner"></i>
        </div>
        <ng-view class="app-content"></ng-view>
    </div>
</div>
</body>
</html>