.categories-list .list-group-item>.badge{float: none;position: absolute;right: 40px;background: #fff;color: #ddd;margin-top:-2px}
.product-image{font-size:40px;padding:5px 10px}
.sizes-list ul{padding:2px 7px 7px 0}
.sizes-list ul li{margin-right:20px;float:left;padding-top:5px}
.not-in-stock img{opacity:0.5}
.not-in-stock h5{color:#ccc}
.form-group input[type="radio"]{margin:7px 7px 0 0}
.photo-panel{margin-bottom:0;margin-top:10px}
.add-photo-btn{width:100px;height:100px;border:1px #ccc dashed;border-radius:8px;display:inline-block;background:#fff;color:#aaa;vertical-align:top;white-space:normal;font-size:12px}
    .add-photo-btn i{display:block;font-size:24px;color:#aaa;margin-bottom:2px}
.imageUpload{display:none!important}
.preview-stripe{padding:5px 0 0 5px}
.image-preview{padding:0;position:relative;white-space:nowrap;}
    .image-preview_item{width:100px;height:100px;margin-left:20px;border-radius:8px;display:inline-block;vertical-align:top;position:relative;overflow:hidden}
        .image-preview_item img{max-width:none}
.remove-preview-btn{width:27px;height:27px;padding-top:3px;background:#fff;border-radius:100px;position:absolute;top:3px;right:3px;font-size:20px;text-align:center;/*border: 3px solid #000;*/color:#007aff;display:none}
.shadow-bg{width:100%;height:100%;border-radius:8px;position:absolute;top:0;background:#000;opacity:0.5;text-align:center}
.loading-spinner{margin-top:21px;color:#fff;font-size:30px}
.currency-radio{margin-right:0px}
    .currency-radio input[type="radio"]{margin: 10px 0px 0 0}
    .currency-radio label{margin:0}
.active-preview{border:4px solid #007aff;border-radius:12px}
.ng-dirty input.ng-invalid, input.ng-invalid, textarea.ng-invalid{border-color:#ccc}
.tooltip-inner{background-color:#E20000}
.tooltip.bottom .tooltip-arrow{border-bottom-color:#E20000}
.app-content-loading{text-align:center;height:100%;width:100%;background:#fff;position:relative}
.app-content-loading .loading-spinner{color:#aaa;font-size: 20px;top: 50%;position: relative;margin-top: -8px}
.overlay-body p{padding:15px 0}
.media-body{padding-bottom:4px}
.products-list .label{margin-top:10px;background-color:#fc0;white-space:normal;display:block;text-align:left}
.products-list .list-group-item {padding: 10px 0px;}
.add-good-btn{width:auto;margin:0 30px;width:150px;position:relative;left:50%;margin-left:-75px;text-align:center;z-index:1}
.message{text-align:center;padding:14px 10px}
.message.no-goods-message{margin-top:38%;line-height:1.4;position:relative;z-index:1}

.rejected-products .media-body{padding:0}
.day-inputs-item{margin-bottom:10px}
.day-inputs .form-group{padding:0}
.day-inputs-item_label{margin-top:9px}
/*.rejected-products .pull-right{margin:0}*/
/*.edit-product-btn{margin:0;padding:0;border:0;background:transparent}*/
#product-form textarea{height:70px !important}
.col-xs-4,
.col-sm-4{padding-right: 0 !important}
.row-with-spacing{margin-top:40px}
.currency-switch{padding-left:0px;margin:0;margin-left:-10px;padding-right:0;overflow-x:hidden;width:90px}
.currency-switch label{padding: 10px 5px 10px 10px;margin-left: -10px}
.form-group label{font-weight:300}
.label-switch label{padding-top:10px}
.special-label{width:90%;padding-left:0px;font-weight:300}
.special-label.f-l{float:left;padding-left:15px}
#productPrice{padding:6px;width:70px;}
.sizes-switch{padding-right:15px !important}
#toast-container > .toast-success{opacity:1; width:100%}

.app-name{font-size: 14px;line-height: 50px;padding-left: 15px;text-transform: uppercase;color: #fff}
.app-name+.scrollable{padding-top:50px}

.sidebar{background:#555}
	.sidebar .list-group-item:nth-child(1){border-top:1px solid #444;}
	.sidebar .list-group-item {background: none;color: #ccc;border-bottom: 1px solid #444;}
	.sidebar .list-group-item.active{background:#333;border-color:#555}
		.sidebar .list-group-item i{display:none}

.auth-block{text-align:center}

.add-good-link{position:absolute;bottom:0;width: 100%;text-align: center;left: 0;margin-left: 0;padding: 15px 0;margin-top: -10px;border-top: 1px solid #ccc;background:#f7f7f7;font-weight:400;z-index:100;}


.section{padding:0}
.navbar-app{color:#444}

.items-scrollable{padding-bottom:44px}

.products-list-panel{border:none;margin-bottom:0}
.products-list-panel .panel-body{padding:0}
.products-list-panel .list-group{margin-bottom:0}
.products-list .list-group-item{padding:10px 10px 5px}
.products-list .list-group-item .input-group{width:135px}
.products-list .list-group-item h5{line-height:1.5;margin:-3px 0 8px;width:95%}
.products-list .list-group-item .product-photo{width:60px;height:60px}
.products-list .list-group-item.not-in-stock .product-photo{opacity:0.3}
.products-list .list-group-item.not-in-stock .input-group-addon,
.products-list .list-group-item.not-in-stock .input-group input{background:#fff;border-color:#eee;color:#aaa}
.products-list .list-group-item.not-in-stock .sizes-list li{color:#ccc}
.products-list .list-group-item .sizes-list li label{font-weight:200;margin-bottom:0}
.products-list .list-group-item.not-in-stock .sizes-list li input{opacity:0.5}
.edit-product-link{position:absolute;right:10px;top:10px;padding:5px;z-index:100}
.products-list .list-group-item.not-in-stock .edit-product-link{color:#ccc}

.list-group .fa-chevron-right{line-height:1.12 !important}

.products-list-panel .panel-heading{padding:10px}
.products-list-panel .panel-title{color:#000;font-size:14px}

.remove-product-link{color: #a00;top: 50px;width: 100%;text-align: center;font-weight: 200;font-size: 14px;position: relative;display: block;padding: 30px 0}
.add-more{text-align: center;display: block;margin: 30px 0; width:100%;}
.moderation-list{margin-top:30px}
.moderation-list .products-list .list-group-item{padding:10px}

.add-photo-btn,.image-preview_item{float:left;margin-left:10px;margin-right:15px;margin-bottom:20px;height:74px;width:74px}

/* auth form */
.auth-form{width: 150px;left: 50%;position: absolute;top: 50%;height: 170px;margin-top: -85px;margin-left: -75px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;font-weight:200}
.auth-form label,
.auth-form input{display:block} 
.auth-form input{margin:3px 0 20px}
.auth-form #password,
.auth-form #username{font-family:Arial;padding:5px;width:140px;border:1px solid #aaa}
.auth-form #remember_me{float:left;margin-right:5px}
.auth-form #_submit{clear:both}