<div class="scrollable auth-block">
    <!--<div class="scrollable-content section">-->
    	<!--<div class="message no-goods-message">            -->
            <!--Чтобы воспользоваться личным кабинетом,<br/>-->
            <!--необходимо выполнить вход.-->
        <!--</div>-->
        <!--<button class="btn btn-primary" ng-click="auth.authorize()" id="auth-btn">-->
            <!--Войти-->
        <!--</button>-->
    <!--</div>-->
</div>
