<div content-for="title">
    <span>{{categories.dirName}}</span>
</div>
<div content-for="navbarAction" ng-if="categories.dirName != 'Каталог'">
    <button class="btn btn-navbar" ng-click="categories.goBack()" ng-show="categories.dirName!='Каталог'"><i class="fa fa-chevron-left fa-navbar"></i></button>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <div class="list-group categories-list">

            <a ng-repeat="item in categories.dir | sex:sexFilterValue | withProducts:1" href="#/categories/{{ (item.isForMale && item.isForFemale) ? 'all' : (item.isForMale ? 'male' : 'female')}}/{{categories.path(item)}}" class="list-group-item ng-scope ng-binding">
				{{item.name}} <span class="badge">{{categories.getGoodsCount(item)}}</span>
               <i class="fa fa-chevron-right pull-right"></i>
            </a>
			<a ng-repeat="item in categories.dir | sex:sexFilterValue | withProducts:0" href="#/categories/{{ item.isForMale && item.isForFemale ? 'all' : (item.isForMale ? 'male' : 'female')}}/{{categories.path(item)}}" class="list-group-item ng-scope ng-binding zero">
				{{item.name}} <span class="badge">{{categories.getGoodsCount(item)}}</span>
               <i class="fa fa-chevron-right pull-right"></i>
            </a>
        </div>
    </div>
</div>