<div content-for="title">
    <span>{{products.formInfo.category.name}}</span>
</div>
<div content-for="navbarAction">
    <button class="btn btn-navbar" ng-click="back()"><i class="fa fa-chevron-left fa-navbar"></i></button>
</div>

<div class="message no-goods-message" ng-if="!products.moderatedGoods.length && !products.notModeratedGoods.length && !products.rejectedGoods.length">            
    В категории нет товаров.<br/>Добавьте их прямо сейчас.
</div>
<a class="center-block add-good-btn" ng-href="{{currUrl}}/create" ng-class="{'btn btn-primary': (!products.moderatedGoods.length && !products.notModeratedGoods.length && !products.rejectedGoods.length),'add-good-link ': !(!products.moderatedGoods.length && !products.notModeratedGoods.length && !products.rejectedGoods.length)}">
    Добавить товар
</a>
<div class="scrollable"  ng-class="{'items-scrollable': !(!products.moderatedGoods.length && !products.notModeratedGoods.length && !products.rejectedGoods.length)}">
    <div class="scrollable-content section">
        <div bs-panel ng-if="products.moderatedGoods" class="products-list-panel">
            <div class="list-group products-list">
                <span class="list-group-item media" ng-repeat="item in products.moderatedGoods" ng-class="{'not-in-stock': !item.inStock}">
                    <div class="pull-left" ng-click="item.inStock = !item.inStock; products.edit(item)">
                        <div ng-repeat="photo in item.photos" class="product-photo" ng-if="photo.isMain" style="background-image:url({{photo.extra['54x50']}});background-size:cover" alt=""></div>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">{{item.name}}</h5>
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="item.price" ng-change="products.edit(item)" br-number-input>
                            <span class="input-group-addon">{{item.currency.value}}</span>
                        </div>
                         <a href="{{currUrl}}/{{item.id}}/edit" ng-click="st.showPassForm = true" class="edit-product-link"><i class="fa fa-pencil"></i></a>
                    </div>
                    <div class="sizes-list" ng-show="products.formInfo.sizes.length > 0">
                        <ul class="cfix">
                            <li ng-repeat="size in products.formInfo.sizes">
                                <input type="checkbox" ng-model="item.arrangedSizes[size.id]" ng-change="products.edit(item)" id="size-{{item.id}}-{{ size.id }}"/>
                                <label for="size-{{item.id}}-{{ size.id }}">{{ size.value }}</label>
                            </li>
                        </ul>
                    </div>
                
                </span>
            </div>
        </div>
        <!--
        <div bs-panel title="Ожидают модерации" class="products-list-panel moderation-list" ng-if="products.notModeratedGoods">
            <div class="list-group products-list">
                <span class="list-group-item media" ng-repeat="item in products.notModeratedGoods">
                    <div class="pull-left">
                        <img ng-repeat="photo in item.photos" ng-if="photo.isMain" src="{{photo.extra['54x50']}}" alt=""/>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">{{item.name}}</h5>
                        <div class="priceCount">{{item.price}}{{item.currency.value}}</div>
                    </div>
                </span>
            </div>
        </div>
        <div bs-panel title="Отклоненные товары" class="products-list-panel moderation-list rejected-list" ng-if="products.rejectedGoods">
            <div class="list-group products-list rejected-products">
                <span class="list-group-item media" ng-repeat="item in products.rejectedGoods" ng-class="{'not-in-stock': !item.inStock}">
                    <div class="pull-left">
                        <img ng-repeat="photo in item.photos" ng-if="photo.isMain" src="{{photo.extra['54x50']}}" alt=""/>
                    </div>
                    <div class="media-body">
                        <div class="center-block cfix">
                            <div class="pull-left">
                                <h5 class="media-heading">{{item.name}}</h5>
                                <div class="priceCount">{{item.price}}{{item.currency.value}}</div>
                            </div>
                            <a ng-href="{{currUrl}}/{{item.id}}/edit" class="btn btn-primary pull-right"><i class="fa fa-pencil-square-o"></i> Исправить</a>
                        </div>
                        <span class="label label-warning">Причина: {{item.rejectComment}}</span>
                    </div>
                </span>
            </div>
        </div>

    -->
    </div>
</div>