<div content-for="title">
    <span>{{title}}</span>
</div>
<div content-for="navbarAction">
    <button class="btn btn-navbar" ng-click="back()"><i class="fa fa-chevron-left fa-navbar"></i></button>
</div>
<div overlay="deleteConfirm">
    <h4 class="overlay-title">Вы действительно хотите удалить товар?</h4>
    <p toggle="off" bubble target="deleteConfirm">
        <span class="btn btn-primary" ng-click="products.delete()">Удалить</span>
        <span class="btn btn-default">Отмена</span>
    </p>
</div>

<div class="scrollable">
    <div class="scrollable-content section">
        <form id="product-form" action="" name="create-product">
            <div bs-panel class="photo-panel">
                <div class="form-group row preview-stripe">
                    <div class="form-control-wrapper image-preview">
                        <ng-file-btn></ng-file-btn>
                    </div>
                </div>
            </div>
            <div bs-panel title="">
                <input
                        bs-form-control
                        type="text"
                        ng-model="products.form['goods[name]']"
                        label="Название"
                        placeholder=""
                        required="required" maxlength="255" />
                <textarea type="text" name="description" ng-model="products.form['goods[description]']" label="Описание" bs-form-control></textarea>
                <div ng-if="products.formInfo.category.isForMale == products.formInfo.category.isForFemale" class="form-group row label-switch">
                    <div class="col-xs-4 col-sm-4 cfix">
                        <label>Для мужчин</label>
                    </div>
                    <div class="col-xs-4 col-sm-4">
                        <switch ng-model="products.form['goods[isForMale]']" ng-click="checkChoose('male')"></switch>
                    </div>
                </div>
                <div ng-if="products.formInfo.category.isForMale == products.formInfo.category.isForFemale" class="form-group row label-switch">
                    <div class="col-xs-4 col-sm-4 cfix">
                        <label>Для женщин</label>
                    </div>
                    <div class="col-xs-4 col-sm-4">
                        <switch class="" ng-model="products.form['goods[isForFemale]']" ng-click="checkChoose('female')"></switch>
                    </div>
                </div>
            </div>
            <div bs-panel> 
                <div class="form-group row row-with-spacing">
                    <div class="col-xs-4 col-sm-4 cfix">
                        <label for="productPrice" class="control-label">Цена</label>
                    </div>
                    <div class="col-xs-4 col-sm-4 currency-input-container">
                        <input type="text" ng-model="products.form['goods[price]']" name="currencyField" class="form-control" placeholder="" id="productPrice" required="required" />
                    </div>
                    <div class="form-control-wrapper col-xs-4 col-sm-4 currency-switch">
                        <span class="currency-radio" ng-repeat="item in products.formInfo.currency">
                            <input type="radio" name="currency" ng-model="products.form['goods[currency]']" value="{{item.id}}" id="{{item.id}}-currency"/>
                            <label for="{{item.id}}-currency"> {{ item.value }}</label>
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-4 col-sm-4 cfix label-switch">
                        <label>В наличии</label>
                    </div>
                    <div class="col-xs-4 col-sm-4">
                        <switch class="" ng-model="products.form['goods[inStock]']"></switch>
                    </div>
                </div>
                <div class="form-group row row-with-spacing" ng-show="products.formInfo.sizes.length > 0">
                    <label class="special-label f-l">
                        Размеры
                    </label>
                    <div class="col-xs-4 sizes-switch" ng-repeat="item in products.formInfo.sizes">
                        <switch ng-model="products.sizes[item.id]" label="{{item.value}}" bs-form-control></switch>
                    </div>
                </div>
            </div>
            <div bs-panel>
                <button class="btn btn-primary center-block col-xs-12" form-validation form-validation-form="#product-form" form-validation-click="products.save(addMore)">{{ isCreate ? 'Сохранить' : 'Сохранить изменения' }}</button>
                <a href="" ng-if="isEdit" target="deleteConfirm" toggle="on" class="remove-product-link">Удалить товар</a>
            </div>
			<label ng-show="isCreate" class="add-more"><input type="checkbox" ng-model="addMore" value="1"> Добавить еще один товар</label>
        </form>
    </div>
</div>