<div content-for="title">
    <span>Настройки пароля</span>
</div>
<div content-for="navbarAction">
    <button class="btn btn-navbar" ng-click="back()"><i class="fa fa-chevron-left fa-navbar"></i></button>
</div>

<div class="scrollable">
    <div class="scrollable-content section">
        <div bs-panel>
            <form id="pass-form" action="" name="passform" >
                <input
                        bs-form-control
                        type="password"
                        label="Текущий пароль"
                        ng-model="st.passform['user_password[current_password]']"
                        name="currentPass"
                        id="inputPassCurr"
                        placeholder="Текущий пароль"
                        label-class="col-xs-3 col-sm-2 col-lg-1"
                        class="col-xs-9 col-sm-10 col-lg-11"
                        required="required"/>
                <div ng-class="{'has-success': (st.passform['user_password[plainPassword][first]'] == st.passform['user_password[plainPassword][second]']) && st.passform['user_password[plainPassword][first]']}">
                    <input
                        bs-form-control
                        type="password"
                        label="Новый пароль"
                        ng-model="st.passform['user_password[plainPassword][first]']"
                        name="passFirst"
                        id="inputPassFirst"
                        placeholder="Новый пароль"
                        label-class="col-xs-3 col-sm-2 col-lg-1"
                        class="col-xs-9 col-sm-10 col-lg-11"
                        required="required"/>
                </div>
                <div ng-class="{'has-success': (st.passform['user_password[plainPassword][first]'] == st.passform['user_password[plainPassword][second]']) && st.passform['user_password[plainPassword][second]']}">

                    <input
                        bs-form-control
                        type="password"
                        label="Повторите пароль"
                        ng-model="st.passform['user_password[plainPassword][second]']"
                        name="passSecond"
                        id="inputPassSecond"
                        placeholder="Повторите пароль"
                        label-class="col-xs-3 col-sm-2 col-lg-1"
                        class="col-xs-9 col-sm-10 col-lg-11"
                        required="required"/>
                </div>
                <button class="btn btn-primary center-block col-xs-12" form-validation form-validation-form="#pass-form" form-validation-click="st.savePassword()">Сохранить</button>
            </form>
        </div>
    </div>
</div>