<div content-for="title">
    <span>Настройки</span>
</div>

<div class="scrollable">
    <div class="scrollable-content section">
        <div bs-panel>
            <a href="#/settings/password"><i class="fa fa-pencil"></i> Изменить пароль</a>
        </div>

        <form id="settings-form" action="" name="settings">

            <div bs-panel>
                <input
                        bs-form-control
                        type="text"
                        ng-model="st.form['user[shops][0][name]']"
                        label="Название"
                        label-class="col-xs-3 col-sm-2 col-lg-1"
                        class="col-xs-9 col-sm-10 col-lg-11"
                        placeholder="Название магазина"
                        required="required"/>
                <input
                        bs-form-control
                        type="email"
                        ng-model="st.form['user[email]']"
                        label="Email"
                        label-class="col-xs-3 col-sm-2 col-lg-1"
                        class="col-xs-9 col-sm-10 col-lg-11"
                        placeholder="Email"
                        required="required"/>
                <input
                        bs-form-control
                        type="text"
                        ng-model="st.form['user[shops][0][url]']"
                        label="Cайт"
                        label-class="col-xs-3 col-sm-2 col-lg-1"
                        class="col-xs-9 col-sm-10 col-lg-11"
                        placeholder=""/>
                <input
						ng-if="isShop"
                        bs-form-control
                        type="text"
                        ng-model="st.form['user[shops][0][externalCatalogLink]']"
                        label="Xml каталог"
                        label-class="col-xs-3 col-sm-2 col-lg-1"
                        class="col-xs-9 col-sm-10 col-lg-11"
                        placeholder=""/>
                <textarea
                        bs-form-control
                        type="text"
                        name="storeAddress"
                        ng-model="st.form['user[shops][0][address]']"
                        label="Адрес магазина"
                        placeholder="Адрес магазина"
                        required="required">
                </textarea>
                <textarea
                        bs-form-control
                        type="text"
                        name=""
                        ng-model="st.form['user[shops][0][phones]']"
                        label="Номера телефонов"
                        placeholder="+375 ХХ ХХХ ХХ ХХ"
                        required="required">
                </textarea>

                <ng-logo-btn></ng-logo-btn>
                <div class="form-group row day-inputs">
                    <label class="col-xs-12">Время работы:</label>
                    <div class="day-inputs-item cfix" ng-repeat="day in week">
                        <label class="col-xs-1 col-sm-1 day-inputs-item_label">{{day}}</label>
                        <div class="form-control-wrapper col-xs-3 col-sm-3">
                            <switch class="col-xs-8" ng-model="st.days[$index]" ng-click="st.changeDay($index, st.days[$index], time.defaultTimeRange)"></switch>
                        </div>

                        <div class="form-control-wrapper col-xs-6 col-sm-6">
                            <input
                                    bs-form-control
                                    br-time-range-input
                                    type="text"
                                    label=""
                                    placeholder="00:00 - 00:00"
                                    ng-model="st.form['user[shops][0][workingTime]'][$index]"
                                    ng-change="time.defaultTimeRange = st.form['user[shops][0][workingTime]'][$index]"
                                    ng-show="st.days[$index]"
                                    />
                        </div>
                    </div>
                </div>
            </div>
            <div bs-panel>
                <button class="btn btn-primary center-block col-xs-12" form-validation form-validation-form="#settings-form" form-validation-click="st.save()">Сохранить изменения</button>
            </div>
        </form>
    </div>
</div>